.input-hint {
  position: absolute;
  width: 300px;
  height: fit-content;
  top: 0;
  right: -50px;
  z-index: 100;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 5px;
  box-shadow: 1px 1px 10px 5px rgb(228, 228, 228);
  animation: slideIn 0.3s ease-out;
  transform: translate(-30%, -50%);

  h1 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
