.game-theory-shell {
  .special-player-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    gap: 10px;
    margin: 0;
    height: fit-content;

    .special-player-label {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 12px;
    }

    .input {
      width: 100%;
      box-sizing: border-box;
    }

    .input-hidden {
      height: 0;
      opacity: 0;
      transition:
        height 1s ease-out,
        opacity 1s ease-out;
    }

    p {
      margin: 0;
    }
  }

  .showing {
    animation: slideDown 0.35s ease-out;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .hiding {
    animation: slideUp 0.35s ease-out;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  .hidden {
    display: none;
  }
}
